body {
    font-family: Arial, sans-serif;
    background-color: #ee605b;
}

.container {
    width: 300px;
    margin: 120px auto;
    background: rgb(103, 139, 194);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}