name: Deploy HTML/CSS/JS Project

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/upload-artifact@v4
        with:
          name: web-files
          path: |
            index.html
            style.css
            script.js