name: Deploy City Validation App

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8'

      - name: Run unit tests
        run: dotnet test

      - uses: actions/upload-artifact@v4
        with:
          name: web-files
          path: |
            index.html
            style.css
            script.js










