name: Deploy City Validation App

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Run unit tests
        run: |
          cd testingProject
          dotnet test


        


