name: Deploy City Validation App

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@f1a4918e09d2ae60fa62fef01043d87afaf61302

      - name: Setup GitHub Pages
        uses: actions/configure-pages@f1a4918e09d2ae60fa62fef01043d87afaf61302

      - name: Upload artifact
        uses: actions/upload-pages-artifact@f1a4918e09d2ae60fa62fef01043d87afaf61302
        with:
          path: ./bin/Release/net8.0/publish

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@f1a4918e09d2ae60fa62fef01043d87afaf61302











